{% extends 'base.html' %}
{% block content %}
    <!--  배경 로고 화면  -->
    <div class="detail_container">
        <section class="detail">
            <img src="{{ datas.BasicImage }}" alt="">
            <div class="info">
                {% if status == 'Y' %}
                <h2>{{ datas.ProductName }}</h2>
                {% else %}
                <h2>[품절] {{ datas.ProductName }}</h2>
                {% endif %}
                <p class="productCode">code: {{ datas.ProductCode }}</p>

                <p class="productPrice">\ {{ datas.ProductPrice.Price }}</p>
                <p class="tMall-price">tMall 최저: {{ datas.ProductPrice.LowestPrice }}</p>
                <hr>
                <p class="delivery">* 배송비 : {{ datas.ShipFee }}</p>
                <hr>
                <p class="chip">+ point : {{ datas.Point }}포인트</p>
                <p class="chip">+ chip : {{ datas.Chip }}chip</p>
                <hr>
                <p class="installment">무이자 할부 : {{ datas.Installment|default_if_none:'없음' }}</p>
                <p class="sellsatisfaction">판매자만족도 : {{ datas.SellSatisfaction }}</p>
                <p class="sellgrade">판매자등급: {{ datas.SellGrade }}</p>
                <select class="option_choose">
                    {% if not datas.OptionList %}
                        <option value="name">[품절]</option>
                    {% else %}
                    {% for option in datas.OptionList %}
                        <option value="name">{{ option.Order }}) {{ option.ValueName }} |  + {{ option.Price }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
                <br>
                <button value="확인완료" style="background-color: blue" onclick="history.back()">확인완료</button>
                <button value="부가정보" style="background-color: #ff3300">부가정보</button>
            </div>
        </section>
        <hr class="detail_hr">
        <div class="detail_list">
            <div class="qa">
                <ul class="qna">
                    <div class="post">
                            <p class="title"></p>
                            <p class="date"></p>
                            <p class="writer"></p>
                            <a href="">상세정보 ur</a>
                        </div>
                </ul>
            </div>
            <hr>
            <div class="postScript">
                <ul class="qna">
                    <div class="post">
                            <p class="title"></p>
                            <p class="date"></p>
                            <p class="writer"></p>
                            <a href="">상세정보 ur</a>
                            <p class="productRating">상품만족도 점수</p>
                            <p class="serviceRating">서비스 만족도 점수</p>
                            <p class="DeliveryRating">배송 만족도 점수</p>
                            <p class="priceRating">가격 만족도 점수</p>
                        </div>
                </ul>
            </div>
            <hr>
            <div class="review">
                <ul class="qna">
                    <li>
                        <div class="post">
                            <p class="title"></p>
                            <p class="date"></p>
                            <p class="writer"></p>
                            <a href="">상세정보 ur</a>
                        </div>
                    </li>
                    <li></li>
                    <li></li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}