{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--  배경 로고 화면  -->
    <section class="header">
        <div class="title">
            <img src="https://lh3.googleusercontent.com/n0rLzF0CidXu9n9CMzhtMoX10zxbM4rcdfIhOpOOEeC6VrsesQji4kI81t3Vcof0XIxc7VDAuozaOn8=w1082-h890"
                 alt="">
            <h1>11번가</h1>
            <p>11번가 상품관리 ADMIN</p>

            <div class="search">
                <form action="{% url 'product:index' %}" class="searchForm">
                    <input type="text" name="kw" class="search_input kw" value="{{ kw|default_if_none:'' }}"
                           placeholder="search product name"/>
                    <button type="submit" id="search-sub-btn">
                        <img class="search-img" src="https://cdn-icons-png.flaticon.com/512/16/16492.png"/>
                    </button>
                </form>
            </div>
        </div>
    </section>

    {#  상품 목록  #}
    <section class="products_list">
        <div class="container">
            <div class="title">
                {#                <h1>FILTERING LIST</h1>#}
                <ul>
                    <li class="{{ chkclass.rating }}"><a href="{% url 'product:filter' 0 %}">인기순</a></li>
                    <li class="{{ chkclass.name }}"><a href="{% url 'product:filter' 1 %}">이름순</a></li>
                    <li class="{{ chkclass.pricedown }}"><a href="{% url 'product:filter' 2 %}">낮은가격순</a></li>
                    <li class="{{ chkclass.priceup }}"><a href="{% url 'product:filter' 3 %}">높은가격순</a></li>
                </ul>
            </div>
            <hr class="list_hr">
            <div class="item_list">
                {#  상품 아이템  #}
                {% for data in datas %}
                    <div class="item">
                        <img src="{{ data.ProductImage }}" alt="">
                        <div class="info">
                            <h2>{{ data.ProductName }}</h2>
                            <p class="price">\ {{ data.ProductPrice }}원</p>
                            <p class="salls">판매자: {{ data.Seller }}</p>
                            <div class="info_footer">
                                <button class="btn_detail"><a href="{% url 'product:detail' data.ProductCode %}" class="text">보러가기</a></button>
                                <p class="score">★ {{ data.Rating }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="paging">
                <div class="page_wrap">
                    <div class="page_nation">
                        <a class="arrow prev" href="#"><</a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                        <a href="#">8</a>
                        <a href="#">9</a>
                        <a href="#">10</a>
                        <a class="arrow next" href="#">></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}