{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--  배경 로고 화면  -->
    <section class="header">
        <div class="title">
            <a href="#list"> <img src="https://blog.kakaocdn.net/dn/cPFLgb/btqCFxzQ6BF/BpdfkJG09auHKBWRHFQTY1/img.jpg"
                                  alt="" title="로고 클릭시 리스트로 이동합니다."></a>
            <h1>11번가</h1>
            <p>11번가 상품관리 ADMIN 페이지</p>

            <div class="search">
                <form action="{% url 'product:index' %}" class="searchForm">
                    <input type="text" name="kw" class="search_input kw" value="{{ kw|default_if_none:'' }}"
                           placeholder="search product name"/>
                    <button type="submit" id="search-sub-btn">
                        <img class="search-img" src="https://cdn-icons-png.flaticon.com/512/16/16492.png"/>
                    </button>
                </form>
            </div>
        </div>
    </section>

    {#  상품 목록  #}
    <section class="products_list">
        <div class="container">
        <a name="list"></a>
            <div class="title">
                {#                <h1>FILTERING LIST</h1>#}
                <ul>
                    <li class="{{ chkclass.rating }}"><a href="{% url 'product:filter' 0 %}">인기순</a></li>
                    <li class="{{ chkclass.name }}"><a href="{% url 'product:filter' 1 %}">이름순</a></li>
                    <li class="{{ chkclass.pricedown }}"><a href="{% url 'product:filter' 2 %}">낮은가격순</a></li>
                    <li class="{{ chkclass.priceup }}"><a href="{% url 'product:filter' 3 %}">높은가격순</a></li>
                </ul>
            </div>
            <hr class="list_hr">
            <div class="item_list">
                {#  상품 아이템  #}
                {% for data in datas %}
                    <div class="item">
                        <img src="{{ data.ProductImage }}" alt="">
                        <div class="info">
                            <h2>{{ data.ProductName }}</h2>
                            <p class="price">\ {{ data.ProductPrice }}원</p>
                            <p class="salls">판매자: {{ data.Seller }}</p>
                            <div class="info_footer">
                                <button class="btn_detail"><a href="{% url 'product:detail' data.ProductCode %}"
                                                              class="text">보러가기</a></button>
                                <p class="score">★ {{ data.Rating }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="page_wrap">
                <ul class="pagination" style="margin-top: 2rem;">
                    <!-- 이전페이지 -->
                    {% if datas.has_previous %}
                        <li class="page-item prev">
                            <a class="page-link" href="{% url 'product:index' %}?&page={{ datas.previous_page_number }}">◁</a>
                            <!-- href로 뎁스 설정 -->
                        </li>
                    {% else %}
                        <li class="page-item prev">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">◁</a>
                        </li>
                    {% endif %}
                    <!-- 페이지리스트 -->
                    {% for page_number in datas.paginator.page_range %}
                        {% if page_number == datas.number %}
                            <li class="page-current" aria-current="page">
                                <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <!-- 다음페이지 -->
                    {% if datas.has_next %}
                        <li class="page-item next">
                            <a class="page-link" href="?&page={{ datas.next_page_number }}">▷</a>
                        </li>
                    {% else %}
                        <li class="page-item next">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">▷</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>


{% endblock %}