{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="#">
    <!-- css -->
    <link rel="icon" href="https://lh3.googleusercontent.com/n0rLzF0CidXu9n9CMzhtMoX10zxbM4rcdfIhOpOOEeC6VrsesQji4kI81t3Vcof0XIxc7VDAuozaOn8=w1082-h890">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{#    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>#}
    <title>Products11</title>
</head>
<body class="is-preload">
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% load static %}
{% block content %}
{% endblock %}

<!-- Scripts -->
{#<script src="/static/main.js?ver=12"></script>#}

<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>